{% extends 'base.html' %}

{% block title %}Edit Tip - Excel Tips and Tricks{% endblock %}

{% block content %}
    <div class="container my-4">
            <!-- Delete button -->
            <form action="{% if category.pk %}{% url 'category_delete' pk=category.pk %}{% endif %}" method="POST" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>

        <h2>Edit Category</h2>

        <!-- Form fields -->
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.name == 'description' %}
                        <!-- For description, use a textarea with a larger size -->
                        <textarea name="{{ field.name }}" id="{{ field.id_for_label }}"
                                  class="form-control {% if field.errors %}is-invalid{% endif %}" rows="10">{{ field.value|default:'' }}</textarea>
                    {% else %}
                        <!-- For other fields, manually add form-control class -->
                        <input type="{{ field.type }}" name="{{ field.name }}" id="{{ field.id_for_label }}"
                               class="form-control {% if field.errors %}is-invalid{% endif %}" value="{{ field.value|default:'' }}">
                    {% endif %}
                    {% if field.errors %}
                        <div class="invalid-feedback">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{% endblock %}
